* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.form{
  display: flex;
  margin-top: auto;
    margin-bottom: auto;
}
header{
  max-width:  1800px;
  height: 70px;
  background-color: blue;
display: flex;
justify-content: center;
}
input{
  width: 250px;
  height: 30px;
  background-color: white;
  color: black;
  border: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

button{
  width: 100px;
  height: 30px;
  background-color: white;
  color: black;
  border: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}



